body {
	text-align: center;
	font-family: "Open Sans", sans-serif;
}

.button {
	border-style: none;
	background-color: white;
}

.button i {
	color: red;
}

a {
	color: #002B5C;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
}